- DO NOT use TypeScript
- use vue3 syntax to build this project
- use vite to build this project
  - use sass as css preprocessor,  use api setting "modern-compiler" with the sass-embedded package
- use pnpm as package manager
- use prettier to format the code, .prettierrc.json is the config file
- use eslint to check the code, eslint.config.js is the config file
- file name always using kebab-case

- when code `.vue` file:
  - code blocks follow the following order: template, script, style
  - always use `<script setup>` syntax
  - when coding style:
    - always use `<style lang="scss" module="cn">` syntax
    - class name should using snake_case
  - when coding in component template:
    - always use `refRootEle` to declare a reference variable for the root element
    - the order of attributes appearing in the single component template is: [ref, v-if, v-for, v-model, v-bind, v-on, other attributes]
    - the event handler function should be declared at the end of the component template, and the name of the event handler function should be the same as the name of the event, but with the prefix `handle`
    

- do not commit file changes to git unless I explicitly ask you to do so.
